{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
        <title>Document</title>
    {% endblock %}
    

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->

</head>
<body>
    {% block menu %}
    	Menu Superior
    {% endblock %}
    
    
    {% block conteudo %}
        <h1>Conteudo</h1>
    {% endblock %}
    
    {% block rodape %}
        <p class="text-center bold">
        Rodape
        </p>
    {% endblock %}
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block scripts %}
    	
    {% endblock %}
</body>
</html>